@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

body {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
    color: #fff;
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: 1.3rem;
}

a {
    color: rgb(157, 203, 87);
}

a:hover {
    cursor: pointer;
}

a:focus {
  background-color: #534d4d;
  padding: .3rem;
  
}

p {
    line-height: 1.8rem;
    font-size: .8rem;
} 

.header {
    width: 100vw;
    background: rgb(34, 41, 34);
    padding: 1rem;
}

.header p {
    justify-self: center;
    font-size: 1.12rem;
    font-weight: bold;
    color: rgb(183, 232, 37);
}

.header h1 {
    font-size: 2.5rem;
    white-space: nowrap;
}

.header h1 span {
    color: rgb(219, 120, 53);
}

.header .nav-bar {
    padding: 3vh 0 1vh;
}

.header .nav-bar ul{
    display: flex;
    justify-content: space-evenly;
}

.header .nav-bar ul li {
    list-style: none;
}

.header .nav-bar ul li a{
    font-size: .6rem;
    padding: .5rem;
    text-decoration: none;
    color: #fff;
    background-color: rgb(151, 195, 24);
    border: none;
    border-radius: .3rem;
}

.header .nav-bar ul li a[href="#home"] {
    background-color: rgb(219, 120, 53);
}

.header .nav-bar ul li a:hover {
    background-color: rgb(189, 116, 31);
}   

main .home {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    color: black;
}

.home h2 {
    color: rgb(145, 196, 65);
    margin: 1.2rem;
}

.home h4 {
    margin: 1.4rem 1.2rem;
}

.home h4 ~ .img, p {
    margin-left: 1.2rem;
}

main .home {
    display: flex;
    flex-direction: column;
}

main .content {
    margin: 0 1.2rem 1.5rem 0;
}

.home .img {
    border: .01rem solid #ebe8e8;
    padding: .3rem;
    margin-bottom: .6rem;
    height: 10rem;
}

.img img {
    width: 100%;
    height: 100%;
    display: block;
} 

.other {
    margin-top: .5rem;
}

.other span {
    white-space: nowrap;
}

.other a:first-child {
    color: rgb(189, 116, 31);
}

.aside {
    order: 2;
}

.sidebar-menu {
    display: flex;
    flex-direction: column;
}

.sidebar-menu a{
    margin-left: 1.2rem;
    line-height: 2.5rem;
    color: #000;
    text-decoration: none;
    font-size: .8rem;
}

aside .sponsors {
    margin-bottom: 1.5rem;
}

aside .sponsors p:last-child {
    color: rgb(127, 127, 127);
}

.other-content {
    padding: 1.2rem;
    background-color: rgb(31, 38, 31);
    width: 100vw;
    color: #fff;
}

.other-content h2 {
    margin: 0 0 1.8rem 0;
}

.other-content .blog {
    margin-bottom: 2rem;
}

.blog .img-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    gap: .7rem;
}

.img-container .img-gal {
    height: 100px;
}

.img-container .img-gal img{
    height: 100%;
    width: 100%;
    display: block;
}

.about {
    margin-bottom: 1.5rem;
}

.about img {
    width: 80px;
    height: 100px;
    display: float;
    float: left;
    margin-right: 1rem;
}

.about p {
    margin-left: 0;
}
.about a {
    font-size: .8rem;
}

.about {
    margin-bottom: 1.5rem;
}
.contact p{
    margin-left: 0;
}

.contact span {
    font-weight: bold;
}

.footer-menu {
    margin-top: .05rem;
    padding: 1rem 1rem .2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(34, 34, 34);
}

.footer-menu p {
    order: 1;
    font-size: .6rem;
    white-space: nowrap;
}

.footer-menu p a {
    color:  rgb(145, 196, 65);
}

.footer-menu .nav-bar ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 1rem;
    margin-bottom: .8rem;
}

.footer-menu .nav-bar ul li {
    list-style: none;
}

.footer-menu .nav-bar ul li a {
    text-decoration: none;
    color: #fff;
    font-size: .6rem;
}

.footer-menu .nav-bar ul li a[href="src/html/contact.html"] {
    color: rgb(145, 196, 65);
}

@media only screen and (min-width: 768px) {
    .header h1 {
        margin: 0 0 1.5rem 4rem;
        font-size: 3rem;
    }
    .header .nav-bar ul {
        padding-left: 4rem;
        padding-right: 4rem;
        justify-content: flex-start;
        column-gap: 1.5rem;
    } 
    .header .nav-bar ul li a {
        padding: .5rem 1rem;
    }

    main .home {
        padding: 4rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
          "template1  lorem "
          "belief  template2 "
          "aside  aside ";
    }
    .aside {
        grid-area: aside;
    }
    .other-content {
        padding-left: 5rem;
        padding-right: 5rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.6rem 3rem;
    }
    .footer-menu .nav-bar ul li a {
        font-size: .7rem;
    }
} 

@media only screen and (min-width: 1024px) {
    h4 {
        font-size: .95rem;
    }
    .header p {
        justify-self: flex-start;
        margin-left: 21rem;
    }
    
    .header h1 {
        padding-left: 7rem;
        margin-bottom: 4rem;
    } 
    .header .nav-bar {
        padding-left: 7rem;
    }
    main .home {
        padding: 2rem 11rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
          "template1  lorem  aside"
          "belief  template2 template2";
    }
    .aside {
        grid-area: aside;
    }
    .other-content {
        padding-left: 12rem;
        padding-right: 12rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .blog img {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .footer-menu {
        padding: .8rem 10rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .footer-menu p {
        order: -1;
        font-size: .8rem;
    }
    .footer-menu .nav-bar ul{
        margin-bottom: 0;
    }
}